.product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 250px;
}
.product img{
    width: 200px;
    height: 200px;
}

.btn {
    background-color: #af7474;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border:#eb8f8f;
    border-radius: 5px;
    
}
.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
a{
    float: left; 
    text-decoration: none; 
    color: #ffffff;
    background: #a3cf85;
    height: 36px; 
    width: 250px;
    line-height: 30px; 
    padding: 0 10px;
    font-family: sans-serif;
    font-size: 13px; 
    transition: .5s; 
    display:flex;
    align-items:flex-start;
    background-color: #ec989f;
    }
.cata{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav {
background-color: #9c7575;
height: 70px;
justify-content: center;

}
ul{
  display: flex;
  flex-direction: row;
  gap:150px;
}
li{
 margin-top: 10px;
 font-size: larger;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 color: rgb(97, 67, 67);
}

input{
border: solid rgb(233, 178, 158);
height: 40px;
}
button{
background-color: #dea065;
height: 50px;
}

.cart {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

body{
    background-color: #c29999;
}
h1{
    margin-left: 500px;
    color: #753939;
}
#bt{
    color: white;
    /* border: none; */
    outline: none;
    background-color: #9c7575;
    border-radius: 7px;
}
#se{
    color: white;
    background-color: #9c7575;
    padding: 10px;
    /* width: 50%; */
    border-radius: 7px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 100%;
    
}
.search-buttun{
    display: flex;
    gap: 1rem;
}
.search-buttun input{
    border: none;
    border-radius: 10px;
    padding: 5px;
}
.button-search{
    padding: 7px;
    width: 40%;
    border-radius: 7px;
    color: white;
}
.navbar li{
    color: white;
}
